body {
    background-color: rgba(248, 243, 243, 0.971);

}

.containerinput {

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    border-collapse: collapse;

    padding: 20px;
    width: 60%;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin: 80px auto;
}

.containerList {

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    border-collapse: collapse;

    padding: 5px;
    width: 85%;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin: 80px 0px 0px 200px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px;
    border: 2px solid #49a09d;
    border-bottom: 0px solid #49a09d;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    background: none;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid #49a09d;
}

input[type=date] {
    width: 100%;
    padding: 12px;
    border: 2px solid #49a09d;
    border-bottom: 0px solid #49a09d;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    background: none;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid #49a09d;
}

button[type=submit] {
    color: white;
    padding: 12px 20px;
    width: 30%;
    border-radius: 5%;
    cursor: pointer;
    border: 3px solid #66a3ff;
    margin-left: 35%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    background: #66a3ff;

    border-bottom: 0px solid #66a3ff;

}

Link {
    color: rgb(166, 20, 20);

    background: #66a3ff;



}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin-top: 30px;

}

h2 {
    margin: auto;
}


textarea[type="text"] {
    width: 80%;
    padding: 12px;
    border: 2px solid #49a09d;
    border-bottom: 0px solid #49a09d;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 65px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    background: none;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid #49a09d;
}

/* .container1 {
     display: flex;
    align-items: center; 
    background-color: white;
    width: 90%;
    margin: 0% 20px 20px 60px;

}


.body {
    margin: 100px;
    background-color: red;

}

td {
    width: 15px;
    height: 15px;

}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

}

;

.conge {
    background-color: red;
    margin-right: 300px;
}

h1 {

    margin-bottom: 20px;
    margin-left: 300px;
    margin-top: 1px;

}

.form-group {

    text-align: center;
    margin-left: 5000px;

}

label {
    font-weight: bold;
    margin-left: 300px;
    margin-top: 10px;

}

input[type="date"],
textarea {
    margin-right: 600px;
    max-width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 300px;
    margin-top: 10px;
}

button[type="submit"] {
    width: 60%;
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-left: 300px;
    margin-top: 15px;

}

button[type="submit"]:hover {
    background-color: #0069d9;
}


.container {
    display: flex;
    align-items: center;
    background-color: #d2dee1;
    width: 100%;
    margin-top: 50px;

}

.conge {
    background-color: rgb(30, 71, 82);
    width: 100%;
    margin-top: 10px;
    margin-left: 300px;
}

h1 {

    margin-bottom: 20px;
    margin-left: 300px;
    margin-top: 0px;


}

h2 {

    margin-bottom: 20px;
    margin-left: 500px;
    margin-top: 10px;


}

.form-group {

    text-align: center;
    margin-left: 5000px;




}

label {
    font-weight: bold;
    margin-left: 300px;
    margin-top: 10px;


}

input[type="date"],

textarea {
    margin-right: 600px;
    max-width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 300px;
    margin-top: 30px;
}

;

button[type="submit"] {
    margin-right: 600px;
    max-width: 21%;
    margin-top: 15px;

    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-left: 300px;
    margin-top: 15px;

}

button[type="submit"]:hover {
    background-color: #0069d9;
} */